<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.advomeet_the_legal_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Advomeet_The_Legal_app">
        <activity
            android:name=".Lawyer_chat_fragment"
            android:exported="false" />
        <activity
            android:name=".ChatFragmentLawyer"
            android:exported="false" />
        <activity
            android:name=".ChatFragment"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Lawyer_profile_view"
            android:exported="false" />
        <activity
            android:name=".Lawyer_center"
            android:exported="false" />
        <activity
            android:name=".Client_center"
            android:exported="false" />
        <activity
            android:name=".Roleselection"
            android:exported="false" />
        <activity
            android:name=".Lawyer_list"
            android:exported="false" />
        <activity
            android:name=".Selection"
            android:exported="false" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".Casedetail"
            android:exported="false" />
        <activity
            android:name=".Lawyer_registeration"
            android:exported="false" />
        <activity
            android:name=".Registerinfo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>